out.xls
.idea
src/charts/__pycache__
.DS_Store
samples/.DS_Store
samples/charts/.DS_Store
__pycache__
out.xlsx
~$out.xlsx
./build
build/
dist
src/sbk_charts.egg-info
sbk-charts-venv
sbk_charts.egg-info
.continue
